<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Cadastro</title>
    <style>
        body{
            background-color: navajowhite;
        }
        h1{
            background-color: burlywood;
            text-align: center;
        }
    </style>
</head>
<body>
    <H1>MEU CADASTRO</H1>
    <h2>Digite seu nome</h2>
    <form action="/criar" method="post">
        <input type="text" name="nome" placeholder="Digite o nome de usuario" required>
        <br><br>
        <input type="email" name="email" placeholder="Digite seu email" required>
        <input type="submit" name="enviar">
    </form>
    <h2>Altere seu nome:</h2>
    <form action="/alterar" method="post">
        <input type="text" name="new_name" placeholder="Digite seu novo nome">
        <br><br>
        <input type="email" name="new_email" placeholder="Digite seu novo email">
        <input type="submit" name="enviar">
    </form>
    <h2>Excluir conta:</h2>
    <form action="/deletar" method="post">
     <input type="text" name="nome" placeholder="digite o nome de usuario para excluir a conta">
     <input type="submit" name="enviar">
    </form>
</body>
</html>